.AniversarianteDoDia{
    background-color: rgba(50, 205, 50, 0.336);
    color:darkgreen;
    border-radius: 2px;
    padding: 5px ;
}

.AniversarianteEmBreve{
    background-color: rgba(50, 130, 205, 0.336);
    color:rgb(0, 43, 100);
    border-radius: 2px;
    padding: 5px;
}

.AniversarianteJaComemorou{
    background-color: rgba(177, 205, 50, 0.336);
    color:rgb(82, 100, 0);
    border-radius: 2px;
    padding: 5px;
}